{% extends "page3.j2.html" %}
{% import "page3.j2.html" as page3 with context %}
{% import "ace.j2.html" as ace with context %}
{% import "chat.j2.html" as chat with context %}
{% import "pad/pad_userlist.j2.html" as pad_userlist with context %}
{% import "_invite_control.j2.html" as invite with context %}

{% block editor_helper %}
  {{- helpers.includeCss("ace2/editor.less") }}
  {{- helpers.includeCss("ace2/syntax.less") }}
  {{- helpers.includeCss("ace2/inner.less") }}
  {{- helpers.includeCss("pad.less") }}

  {{- helpers.includeCss("collections.less") }}
  {{- helpers.includeCss("jquery.autocomplete.less") }}
  {{- helpers.includeCss("lightbox.less") }}
  {{- helpers.includeCss("padaccess.less") }}

  {{- helpers.includeCometJs() }}
  {{- helpers.includeJs("collab_client.js") }}
  {{- helpers.includeJs("cookies.js") }}
  {{- helpers.includeJs("customSelect.jquery.js") }}
  {{- helpers.includeJs("dateutils.js") }}
  {{- helpers.includeJs("hints.js") }}
  {{- helpers.includeJs("invite.js") }}
  {{- helpers.includeJs("jquery.ajaxqueue.js") }}
  {{- helpers.includeJs("jquery.autocomplete.js") }}
  {{- helpers.includeJs("jquery.color.js") }}
  {{- helpers.includeJs("jquery.placeholder.js") }}
  {{- helpers.includeJs("jquery-ui-1.8.20.custom.min.js") }}
  {{- helpers.includeJs("jquery.ui.touch-punch.min.js") }}
  {{- helpers.includeJs("pad_autolink.js") }}
  {{- helpers.includeJs("pad_collections.js") }}
  {{- helpers.includeJs("pad_connectionstatus.js") }}
  {{- helpers.includeJs("pad_demo.js") }}
  {{- helpers.includeJs("pad_editbar.js") }}
  {{- helpers.includeJs("pad_editor.js") }}
  {{- helpers.includeJs("pad_facebook.js") }}
  {{- helpers.includeJs("pad_guestpolicy.js") }}
  {{- helpers.includeJs("pad_guestprompt.js") }}
  {{- helpers.includeJs("pad_notify.js") }}
  {{- helpers.includeJs("pad_related.js") }}
  {{- helpers.includeJs("pad_utils.js") }}
  {{- helpers.includeJs("pad2.js") }}
  {{- helpers.includeJs("pretty.js") }}

  {{- helpers.setBodyId("padbody") }}
  {{- helpers.setHtmlTitle(pageTitle) }}
  {# // tell googlebot to request ?_escaped_fragment_=  #}
  {% if request.args.get('_escaped_fragment_') %}
    {{- helpers.setNoJs(true) }}
  {% else %}
    {{- helpers.addToHead('<meta name="fragment" content="!" />') }}
  {% endif %}

  {% if options.get('robotsNoindex') %}
    {{- helpers.addToHead('<meta name="robots" content="noindex, noarchive" />') }}
  {% endif %}

  {% if options.get('initialTitle') %}
    {{- helpers.addToHead('<link rel="alternate" type="text/xml+oembed" ' +
        'href="/ep/oembed/' + helpers.encodeURIComponent(localPadId) + '" ' +
        'title="' + helpers.escapeHtml(initialTitle) + '">') }}
    {# - helpers.addToHead('<link rel="canonical" href="/' +
        initialTitle.replace(/[^\w\s-\.]/g, '').replace(/[\s-]+/g, '-') + '-' +
        encodeURIComponent(localPadId) + '">') #}
  {% endif %}
{% endblock %}

{% block contentArea %}
    {{- freakoutScript() }}
    {{- editor()  }}
    {% block editorExtras %}
    {% endblock %}
    <div id="editorbottombox">
        {% block bottomBar %}
        {% endblock %}
    </div>
{% endblock %}

{% macro editor() -%}
  {% if isFork %}
    <div class="editor-is-fork">
      {{ ui.button({'id': 'submit-changes', 'className': 'default', 'label': _('Submit Changes') }) }}
    </div>
    <script type="text/javascript" nonce="<%= helpers.cspNonce() %>">
      $(document).ready(function() {
        hints.showHint($("#submit-changes"), "Submit when done!");
      });
    </script>
  {% endif %}
  {{- ace.ace() }}
{% endmacro %}

{% macro editorSidebarCommon() -%}
  <div id="padusers" class="">
    <div id="sharingsettings">
      {{-invite.inviteControl("invite people to this pad", "padId", localPadId)  }}
      <div id="sharesummarywrapper" style="display: none">
        <span class="sharesummary-with">With </span>
        <span id="sharesummary" data-tooltip="Show list"
            data-altTooltip="Hide List"> </span>
      </div>
      {{- pad_userlist.userlist()  }}
      <div id="guestprompts"><!-- --></div>
    </div>
  </div>

  <div id="toc-div" class="sidebar-div">
    <ul></ul>
  </div>
{% endmacro %}


{% macro freakoutScript() -%}
  <script type="text/javascript" nonce="<%= helpers.cspNonce() %>">
    window.onerror = function(message, file, line, column, errorObj) {
      etherpad.logError(message, file, line, column, errorObj);
    };
    window.onfreakout = function(msg) {
      if ($('#freakout-dialog').is(':visible')) {
        return;
      }
      trackEvent('freakout', null, null, {
        url: location.href,
        padId: clientVars.collab_client_vars.globalPadId,
        userId: clientVars.userId,
        error: (msg || "").split(":")[0],
        errorDetail: msg
      });
      modals.showModal("#freakout-dialog", 0, true /* not cancellable */);
    };
  </script>
{% endmacro %}

{% macro editorModalsCommon() -%}
  <div id="killuser" class="modaldialog">
    <h1>Stop sharing with <span class="name"></span>?</h1>
    <div class="modaldialog-inner">
      <div id="killuser-access">
        This pad is shared with "<span class="access"></span>", so
        <span class="name"></span> will still be able to access it.
      </div>
      <form id="killuser-form" action="/ep/pad/removeuser"
          data-submit="submitmodal">
        {{ helpers.xsrfTokenElement() }}
        <input type="hidden" id="padId" name="padId"
            value="{{ helper.encodeURIComponent(localPadId) }}" />
        <input type="hidden" id="userId" name="userId" />
        <div class="dialog-buttons">
          <a href="#" data-click="hidemodal">Cancel</a>
          {{ ui.button({'buttonType': 'submit', 'label': _('Stop Sharing') }) }}
        </div>
        <div class="clear"></div>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro modals() -%}
  <div class="connection-status iphonehide"><h3>Reconnecting...</h3></div>

  <div id="modaloverlay"><div id="modaloverlay-inner"><!-- --></div></div>

  <div id="mainmodals">
    <div id="connectionbox" class="modaldialog" >
      <h1 class="h1_disconnect">Disconnected</h1>
      <h1 class="h1_unauth">No Authorization</h1>
      {{ ui.button({'type': 'custom', 'fontIcon': 'icon-x', 'className': 'dialog-cancel-x' }) }}
      <div id="connectionboxinner" class="modaldialog-inner">
        <div class="connecting">
          Connecting...
        </div>
        <div class="reconnecting">
          Reestablishing connection...
        </div>
        <div class="disconnected">
          <div id="disconnected_looping">
            <p>
              <b>We're having trouble talking to the Hackpad synchronization
                server.</b>
              You may be connecting through an incompatible firewall or proxy
              server.
            </p>
          </div>
          <div id="disconnected_initsocketfail">
            <p>
              <b>We were unable to connect to the Hackpad synchronization
              server.</b>
              This may be due to an incompatibility with your web
              browser or internet connection.
            </p>
          </div>

          <div id="disconnected_unknown">
            <p>
              <b>Lost connection with Hackpad.</b>
              This may be due to a loss of network connectivity. If you close
              this window you may lose up to 30 seconds of unsaved work.
            </p>
          </div>
          <div id="disconnected_slowcommit">
            <p>
              <b>Server not responding.</b>
              This may be due to network connectivity issues or high load on
              the server.
            </p>
          </div>
          <div id="disconnected_unauth">
            <p>
              You are no longer allowed to access this pad. Reconnect to
              request access.
            </p>
          </div>
          <div id="reconnect_form">
            {{ ui.button({'id': 'forcereconnect', 'label': _('Reconnect Now') }) }}
            <img class="loading-indicator"
                src="/static/img/status-ball.gif"/>
            <span class="failed-indicator">Failed to reconnect.</span>
          </div>
          <div id="reconnect_advise">
            <p>
              If this continues to happen, please <a target="_blank"
                  href="/ep/support">let us know</a>
              (opens in new window).
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="freakout-dialog" class="modaldialog">
      <h1>How embarrassing...</h1>
      <div id="freakout-dialog-inner" class="modaldialog-inner">
        <div class="disconnected">
          <div>
            <p>
              <b>We experienced an error on the page that is causing problems
              with saving your work.</b>
              Continuing to edit on the page without refreshing your browser
              would lead to some <b>loss of your work</b>.
            </p>
          </div>
          <div id="freakout-options">
            {{ ui.button({'data-click': 'pagereload', 'label': _('Refresh Now') }) }}
            {{ ui.button({'id': 'freakout-copy-first', 'label': _('I want to copy my work first, please.') }) }}
          </div>
          <div id="freakout_advise">
            <p>
              If this continues to happen, please <a target="_blank"
                  href="/ep/support">let us know</a>
              (opens in new window).
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="moderated-modal" class="modaldialog">
      <h1>Heads Up!</h1>
      <div id="moderated-modal-inner" class="modaldialog-inner">

        <p id="moderated-modal-msg">
          This pad is moderated.  Your changes will require owner approval.
        </p>
        <div class="dialog-buttons">
          {{ ui.button({'data-click': 'hidemodal', 'label': _('Cancel') }) }}
          {{ ui.button({'className': 'default', 'buttonType': 'submit', 'label': _('Yes! I want to edit') }) }}
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div id="sharebox" class="modaldialog">
      <div id="sharebox-inner" class="modaldialog-inner">
      </div>
    </div>

    <div id="insertimagedialog" class="modaldialog">
     <h1>Insert an Image</h1>
     <div class="modaldialog-inner">
      <form name="insert-image-form" id="insert-image-form">
        {{- helpers.xsrfTokenElement() }}
        <br/>
        <div id="insertimagedialog-upload">
          <input multiple type="file" id="web-image-upload" name="photo[]"
              accept="image/*">
          <div id="web-image-upload-separator">or</div>
          <input type="text" id="web-image-url" name="web-image-url"
              placeholder="paste a url" />
        </div>
        <div id="insertimagedialog-drag">
          Tip: you can simply <b>drag&amp;drop</b> images into the editor
          from your desktop!
        </div>
        <br/>
         <div class="dialog-buttons">
           <a href="#" data-click="hidemodal">Cancel</a>
           {{ ui.button({'buttonType': 'submit', 'className': 'default', 'label': _('Insert') }) }}
         </div>
         <div class="clear"></div>
       </form>
     </div>
    </div>
    {% block editorMoreModals %}
    {% endblock %}
  </div>

  {% if request.args.get('djs') %}
    <div id="djs"><!-- --></div>
  {% endif %}

  <form id="reconnectform"
      method="post"
      action="/ep/pad/reconnect"
      accept-charset="UTF-8"
      style="display: none;">
    {{- helpers.xsrfTokenElement() }}
    <input type="hidden" class="padId" name="padId" />
    <input type="hidden" class="diagnosticInfo" name="diagnosticInfo" />
    <input type="hidden" class="missedChanges" name="missedChanges" />
  </form>
  </div>

{% endmacro %}
