{% import "signin.j2.html" as signin with context %}
{% import "ui.j2.html" as ui with context %}

{% macro signedOutDialog() -%}
<div id="page-login-box" class="modaldialog" style="right: inherit; left: 50%;">
  {{- ui.button({ 'type': "custom", 'fontIcon': 'icon-x', 'data-click': 'hidemodal','className': 'dialog-cancel-x' }) -}}
  <div>
    {% if session.proAccount %}
    <div style="padding-bottom: 14px; text-align: center;">
      <h3 style="color: #666; font-size: 100%;">Oops, you're signed out!</h3>
      <!--% } else { %-->
      <!--h3 style="color: #666; font-size: 100%;">Sign In Instantly</h3-->
    </div>
    {% endif %}
    {{ signin.login_form() }}
  </div>
</div>
<!-- <%- template.use('connecting-to-facebook'); %> -->
{%- endmacro %}
