{% extends 'html.j2.html' %}
{% import "signin.j2.html" as signin with context %}
{% import "ui.j2.html" as ui with context %}

{{ helpers.includeCss("home_ejs.less") | clear }}
{{ helpers.includeJQuery() | clear }}
{{ helpers.includeJs("common.js") | clear }}
{{ helpers.includeJs("modals.js") | clear }}
{{ helpers.includeJs("jquery.validate.js") | clear }}
{{ helpers.includeJs("jquery.placeholder.js") | clear }}
{{ helpers.disableOffline() | clear }}

{{ helpers.addToHead("<meta content='hackpad.com' name='title' />") | clear }}
{{ helpers.addToHead("<meta content='Real-time collaborative wiki' name='description' />") | clear }}
{{ helpers.addToHead("<link href='/static/img/hackpad-logo.png' rel='image_src' />") | clear }}

{{ helpers.includeJs("ipad.js") | clear }}

{{ helpers.addToHead('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />') | clear }}
{{ helpers.addToHead('<meta name="apple-mobile-web-app-capable" content="yes" />') | clear }}
{{ helpers.addSmartAppBanner() | clear }}

{% block page_body %}
    hello .....
{% endblock %}

<div id="home">
  <div id="logo-bar"></div>
  <span id="title" style="color:white">hackpad</span>

  <div>
    {{ ui.button({'id': 'top-right-signin-button', 'className': 'signin-button iphonehide', 'html': 'Sign up <em>or</em> Log in' }) }}
  </div>


  <div id="top">
    <img id="top-blur-image" class="iphonehide" src="{{ helpers.cdn() }}/static/img/pixel.gif">
    <div id="top-center" style="position: relative;">
    </div>
  </div>

  <div id="page-login-box" class="modaldialog">
    {{ signin.login_form() }}
  </div>

  <div id="collaborate">

    <h1>Collaborate <em>instantly</em></h1>
    <h2>Hackpad has been Open Sourced. <a href="https://github.com/hackpad/openpad" style="color:white; text-decoration:underline;">Learn more</a>.</h2>
    <div class="signin-button-container">
      {{ ui.button({'id': 'hero-signin-button', 'className': 'signin-button', 'html': 'Sign up <em>or</em> Log in' }) }}
    </div>
  </div>
  <div id="middle" class="iphonehide">
    <div id="customerlogos">
      <div id="used-by">Used &amp; loved by:</div>
      <img src="{{ helpers.cdn() }}/static/img/marketing/logos/airbnb.png"/>
      <img src="{{ helpers.cdn() }}/static/img/marketing/logos/stripe.png"/>
      <img src="{{ helpers.cdn() }}/static/img/marketing/logos/upworthy.png"/>
      <img src="{{ helpers.cdn() }}/static/img/marketing/logos/meteor.png"/>
      <img src="{{ helpers.cdn() }}/static/img/marketing/logos/twitch.png"/>
      {{ ui.button({'id': 'try-it', 'className': 'iphonehide ipadhide', onclick: "$('html,body').animate({scrollTop: $(this).offset().top - 50}, 1000);", 'label': 'Take a test drive' }) }}
    </div>
  </div>
  <div id="blur" class="iphonehide"></div>

  <div id="features" class="ipadhide iphonehide">
    <div class="featurebox ipadhide" style="max-width: 1770px; margin-left: -75px;">
    </div>

    <div id="home-pricing">
      Free for personal use.<br>
      {{ ui.button({'id': 'features-signup-button', 'className': 'signin-button', 'label': 'Sign up' }) }}
    </div>

  </div>
</div>

<script type="text/javascript" nonce="<%= helpers.cspNonce() %>">
  $(function() {
    var updatePageElements = function() {
      if ($('body').hasClass('mobile-web')) {
        return;
      }
      var scrollTop = $(window).scrollTop();
      var scrollToHeightPercent = $(window).scrollTop() / $(window).height();
      var blurValue = Math.min(scrollToHeightPercent * 3, 3);
      var brightnessValue = Math.max(100 - scrollToHeightPercent * 50, 50);
      $('#top, #middle').css({
        '-webkit-filter': 'brightness(' + brightnessValue + '%)',
        'filter': 'brightness(' + brightnessValue + '%)'
      });
      $('.signin-button-container').css('position', 'static');
      var signinOffset = $('.signin-button-container').offset().top;
      var signupOffset = $('.featurebox').offset().top;

      var buttonMargin = 20;
      if (scrollTop > signinOffset - buttonMargin) {
        $('.signin-button-container').css('position', 'fixed');
        $('#top-right-signin-button').hide();
      } else {
        $('.signin-button-container').css('position', 'static');
        $('#top-right-signin-button').show();
      }

      if (scrollTop > signupOffset) {
        $('.signin-button-container').hide();
      } else {
        $('.signin-button-container').show();
      }

    };
    $(window).on('scroll', throttle(function() {
      updatePageElements();
    }, 33 * 2));
    updatePageElements();
  });
</script>
