{% import "footer.j2.html" as footer with context %}
{% import "signin.j2.html" as signin with context %}

{{ helpers.includeCss("framedpage.less") | clear }}
{{ helpers.addBodyClass("pro-body") | clear }}
{{ helpers.addBodyClass("sitebar") | clear }}
{{ helpers.addBodyClass("hasSitebar") | clear }}


  <%- renderHeader({signedInAccounts: signedInAccounts}) %>

  <%- renderGlobalProNotice() %>

  <%- getContentHtml() %>

</div> <!-- /padpage -->

<div id="page-login-box" class="modaldialog">
  <%- template.use('login-form'); %>
</div>

<% if (helpers.isHeaderVisible()) { %>
  <%- template.use('footer'); %>
<% } %>

