{% import "footer.j2.html" as footer with context %}
{% import "signin.j2.html" as signin with context %}

{{ helpers.includeCss("framedpage.less") | clear }}
{{ helpers.addBodyClass("pro-body") | clear }}
{{ helpers.addBodyClass("sitebar") | clear }}
{{ helpers.addBodyClass("hasSitebar") | clear }}

  {{- headerHtml() }}
  <!-- <%- renderGlobalProNotice() %> -->
  {{- contentHtml() }}
</div> <!-- /padpage -->

<div id="page-login-box" class="modaldialog">
    {{- signin.login_form()  }}
</div>

{% if helpers.isHeaderVisible() %}
    {{- footer.footer() }}
{% endif %}


