<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="origin-when-crossorigin">
    {{ helpers.robotsMeta() | clear }}
    <title>{{ helpers.htmlTitle() | clear }}</title>
    <base href="{{ helpers.baseHref()  }}">
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57"
        href="/static/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="/static/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="/static/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon" sizes="144x144"
        href="/static/apple-touch-icon-144.png" />
    <script>less = { env: 'development'};</script>
    {% block head_js %}
        {{ helpers.includeJQuery() | clear }}
    {% endblock %}
    {% block head_css %}
        {{ helpers.cssIncludes() | clear }}
        {{ helpers.includeCss("hpfont/css/hackpad.css", inplace=True) | clear }}
    {% endblock %}
    <!--  disable opensearch
    <link rel="search" type="application/opensearchdescription+xml"
        title="hackpad" href="/static/opensearch.xml" /> -->
    {% block headExtra %}
    {% endblock %}
    {{ helpers.documentDomain() | clear }}
    <script src="/static/js/less-1.4.1.min.js"></script>
  </head>

  <body id="{{ helpers.bodyId() }}" class="{{ helpers.bodyClasses() }}">
    {% block page_body %} {{ bodyHtml }} {% endblock %}
    <!--
    <% helpers.addClientVars(
        { facebookClientId: appjet.config.facebookClientId }) %> -->
    {{ helpers.addClientVars({'xsrf': helpers.xsrfToken()}) | clear}}

    {{ helpers.clientVarsScript() | clear }}
    {{ helpers.includeJs("jquery.ba-dotimeout.min.js") | clear }}   <!-- jquery.ba-dotimeout.min.js, referenced by track -->
    {{ helpers.track() | clear }}
    {{ helpers.jsIncludes() | clear }}

    {{ helpers.tailExtra() | clear }}
    {{ helpers.profileTicks() | clear }}
    {{ helpers.hijackBlankClicks() | clear }}

    <noscript>
      <div>
        You'll need to turn on JavaScript to use Hackpad in all of its
        awesomeness. ^_^
      </div>
    </noscript>
  </body>
</html>
